<div class="container-md mt-5 ">

  <div class="mx-auto  card align-items-center p-4" style = "width:300px">
    <%= simple_form_for(@sandal) do |f| %>
      <p>
        <%= f.label :Nombre %><br>
        <%= f.text_field :model, required: true, autofocus: true, placeholder: "Ingresa el nombre del producto" %>
      </p>
      <p>
        <%= f.label :Precio %><br>
        <%= f.number_field :price, required: true %>
      </p>
      <p>
        <%= f.label :descripción %><br>
        <%= f.text_field :description, required: true %>
      </p>
      <p>
       <%= f.input :Imagen, as: :file %>
      </p>
      <p>
        <%= f.submit :Subir, class:"btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
