<div class="container">
  <h2>All Sandals</h2>



  <div class="d-flex "  style="width:100%"  >
    <div class="row "  >
    <% @sandals.each do |sandal| %>
      <div class="card m-2 rounded-card px-0 shadow" style="width: 18rem;" >
        <img class="card-img-top image-border-top " style = "width:100%" src="https://media.istockphoto.com/photos/mans-legs-sitting-on-the-rocks-picture-id537333186?s=2048x2048" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Model: <%= sandal.model %></h5>
          <p class="card-text">Unit price of <%= number_to_currency(sandal.price) %></p>
          <p>Description: <%= sandal.description %></p>
          <p>
          <%= link_to "Edit", edit_sandal_path(sandal) %> |
          <%= link_to "Delete", sandal_path(sandal), method: :delete, data: {confirm: "Are you sure?"} %>
          <%= button_to "Add #{sandal.model} to cart", order_items_path(:sandal_id => sandal.id), :class =>'btn btn-primary mx-auto px-5 align-center ', :style => "width:100%" %>
        </p>
        </div>
      </div>
    <% end %>
    </div>
  </div >
  <%= link_to "New sandal", new_sandal_path %>
</div>
